@* To get access to all Fluent UI System icons, install the Microsoft.FluentUI.AspNetCore.Compoents.Icon package *@
@* See all the diffeent ways on how to use icons at https://www.fluentui-blazor.net/Icon *@

@implements IDisposable

@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
    <nav>
        <FluentNavMenu Width="250" Collapsible="true" Title="Custom navigation menu">
        
            <FluentNavLink Href="Account/Manage">@context.User.Identity?.Name</FluentNavLink>
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icon.FromImageUrl("/images/home.svg")" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="auth" Icon="@Icon.FromImageUrl("/images/authrequired.svg")" IconColor="Color.Accent">Auth Required</FluentNavLink>
            <FluentNavLink Href="Account">Bank Accounts</FluentNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
            </form>
        </FluentNavMenu>
    </nav>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}