@page "/account/{accountID:int?}"
@page "/"
@using TimeTrove.Client.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@rendermode InteractiveAuto

@attribute [Authorize]

<h1>Bank Accounts</h1>
<FluentButton IconStart="@(new Icons.Regular.Size20.Add())" OnClick="() => EditMode = true">
    Add Account
</FluentButton>

<!--TODO - Fix Add Account button-->

@if (EditMode)
{
    <EditForm Model="newAccount" OnValidSubmit="HandleSubmit" FormName="CreateBankAccountForm">
        <DataAnnotationsValidator />
        <ValidationSummary/>
        <label for="accountName">
            Account Name:
            <InputText id="accountName" @bind-Value="newAccount.Name"/>
        </label>
        <label for="balance">
            Balance:
            <InputNumber id="balance" @bind-Value="newAccount.Balance"/>
        </label>
        


        <button type="submit">Submit</button>
        <button type="button" @onclick="Cancel">Cancel</button>
    </EditForm>
}
else
{
    <div class="bankAccount-container">
        <BankAccountList />
    </div> 
}




@code {

    [Parameter] public int? accountID { get; set; }
    private bool EditMode;
    
    public BankAccountDTO newAccount = new BankAccountDTO(name: string.Empty, balanceStr: "0.00");

    public async void HandleSubmit()
    {
        var response = await HttpClient.PostAsJsonAsync<BankAccountDTO>(NavigationManager.BaseUri + "api/BankAccount", newAccount);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Success");
            Console.WriteLine(response.Content);
            NavigationManager.Refresh();
        }
    }

    public void Cancel()
    {
        Console.WriteLine("Cancel");
        NavigationManager.NavigateTo("/Account", forceLoad: true);
    }

}