@page "/account/{accountID:int?}"
@page "/"
@using TimeTrove.Client.Models
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h1>Bank Accounts</h1>
<FluentButton IconStart="@(new Icons.Regular.Size20.Add())" OnClick="() => EditMode = true">
    Add Account
</FluentButton>

<!--TODO - Fix Add Account button-->

@if (EditMode)
{
<EditForm Model="newAccount" OnValidSubmit="HandleSubmit">
    <InputText id="accountName" @bind-Value="newAccount.Name" />
    <InputNumber id="balance" @bind-Value="newAccount.Balance" />

    <button type="submit">Submit</button>
    <button type="button" @onclick="Cancel">Cancel</button>
</EditForm>
}
else
{
    <div class="bankAccount-container">
        <BankAccountList />
    </div> 
}




@code {

    [Parameter] public int? accountID { get; set; }
    private bool EditMode;
    public BankAccountDTO newAccount = new BankAccountDTO(name: string.Empty, balanceStr: "0.00");

    public void HandleSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        // Your code to POST accountModel to server...
        NavigationManager.NavigateTo("/Account", forceLoad: true);
    }

    public void Cancel()
    {
        Console.WriteLine("Cancel");
        NavigationManager.NavigateTo("/Account", forceLoad: true);
    }

}