@page "/account/{accountID:int?}"
@page "/"
@using TimeTrove.Client.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@rendermode InteractiveAuto

@attribute [Authorize]


<div class="bankAccount-container">
    <BankAccountList />
</div> 





@code {

    [Parameter] public int? accountID { get; set; }
    private bool EditMode;
    
    public BankAccountDTO newAccount = new BankAccountDTO(name: string.Empty, balance: new decimal(0.00D));

    public async void HandleSubmit()
    {
        var response = await HttpClient.PostAsJsonAsync<BankAccountDTO>(NavigationManager.BaseUri + "api/BankAccount", newAccount);

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Success");
            Console.WriteLine(response.Content);
            NavigationManager.Refresh();
        }
    }

    public void Cancel()
    {
        Console.WriteLine("Cancel");
        NavigationManager.NavigateTo("/Account", forceLoad: true);
    }

}