
.calendar-container{
    display: flex;
    height: 89vh;
    width: 100%;
    justify-content: center;
}


.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 990px;
    width: 95%;
}

